@model IEnumerable<Continente>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    @foreach (var continente in Model)
    {
        <p>@Html.DisplayFor(c => continente.IdContinente)</p>
        <p>@Html.DisplayFor(c => continente.Nombre)</p>
        <p>@Html.DisplayFor(c => continente.Descripcion)</p>
    }

</div>
